include README.md
include LICENSE
recursive-include src *.py *.yaml *.md
exclude src/server/build/bin/chrome-linux64/*
exclude src/server/build/bin/chromedriver-linux64/*
exclude src/server/logs/tempempty/*
exclude src/**/*.log
exclude src/**/*.tmp
exclude src/**/*.bak
exclude src/**/__pycache__/*
exclude src/**/__pycache__/